target
.git
.settings
.classpath
.project
.idea/
.DS_Store
.vscode

*.properties

2025-java-gent13\sdp2-java\src\main\resources\META-INF\persistence.xml


sdp2-java/src/main/resources/config/dev.properties

sdp2-java/src/main/resources/config/prod.properties

sdp2-java/config/database.properties
