.machine-detail-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.machine-info {
  flex: 1;
  margin-right: 20px;
}

.machine-onderhoud {
  flex: 1;
  margin-left: 20px;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.machine-detail-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .machine-info {
    flex: 1;
    margin-right: 20px;
  }
  
  .machine-onderhoud {
    flex: 1;
    margin-left: 20px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }