.sidebar-button {
    -fx-font-size: 16px;
    -fx-padding: 10px 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-focus-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-alignment: center-left;
    -fx-text-fill: #FF0000;
    -fx-underline: false;
}

.sidebar-button:hover {
    -fx-text-fill: white;
    -fx-background-color: #CC0000;
    -fx-underline: false;
}

.sidebar-button:pressed, .sidebar-button:selected {
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-background-color: #800000;
}

#sidebar {
    -fx-alignment: top-left;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-color: #1A1A1A;
}

.table-row-cell.inactive-row {
    -fx-background-color: #e0e0e0;
}

.site-view-container {
    -fx-background-color: #242424;
    -fx-padding: 20px;
}

.site-main-header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.site-subheader-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-view.site-table,
.table-view.machine-detail-table {
    -fx-background-color: #333333;
    -fx-border-color: #550000;
    -fx-selection-bar: #B22222;
    -fx-selection-bar-text: white;
}

.table-view.site-table .column-header-background,
.table-view.machine-detail-table .column-header-background {
    -fx-background-color: #D3D3D3;
    -fx-border-color: #444444;
    -fx-border-width: 0 0 2px 0;
}

.table-view.site-table .column-header .label,
.table-view.machine-detail-table .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px 8px;
    -fx-alignment: CENTER_LEFT;
}

.table-view.site-table .table-row-cell,
.table-view.machine-detail-table .table-row-cell {
    -fx-background-color: #2C2C2C;
    -fx-border-color: #404040;
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 0px;
}

.table-view.site-table .table-row-cell:first-child,
.table-view.machine-detail-table .table-row-cell:first-child {
    -fx-border-width: 0;
}

.table-view.site-table .table-cell,
.table-view.machine-detail-table .table-cell {
    -fx-text-fill: #F0F0F0;
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8px;
}

.table-view.site-table .table-row-cell:selected {
    -fx-background-color: #B22222;
}
.table-view.site-table .table-row-cell:selected .table-cell {
    -fx-text-fill: white;
}


.table-view.site-table .placeholder .label,
.table-view.machine-detail-table .placeholder .label {
    -fx-text-fill: #A0A0A0;
}

.table-view.site-table .table-column#aantalMachinesCol .label {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 10px 15px 10px 8px;
}

.table-view.site-table #aantalMachinesCol.table-cell {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 8px 15px 8px 8px;
}

.site-overview-header {
    -fx-text-fill: #FF0000;
}

.site-button, .site-add-button, .site-delete-button {
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 2, 2);
    -fx-pref-height: 60px;
    -fx-pref-width: 200px;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.site-add-button {
    -fx-background-color: #28A745;
    -fx-border-color: #1E7E34;
}
.site-add-button:hover {
    -fx-background-color: #2E7D32;
}

.site-delete-button {
    -fx-background-color: #FF0000;
    -fx-border-color: #4D0000;
}
.site-delete-button:hover {
    -fx-background-color: #B71C1C;
}

.site-detail-main-header {
    -fx-text-fill: white;
}

.site-detail-field-label {
    -fx-text-fill: #A9A9A9;
    -fx-font-weight: normal;
}

.site-detail-value-label {
    -fx-text-fill: #D3D3D3;
    -fx-font-weight: normal;
}

.site-status-label {
    -fx-text-fill: #A0A0A0;
    -fx-padding: 10px 0 0 0;
}