.machine-view-container {
    -fx-background-color: #242424;
    -fx-padding: 20px;
}

.machine-main-header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.machine-overview-header {
    -fx-text-fill: #FF0000;
}

.machine-table {
    -fx-background-color: #333333;
    -fx-border-color: #550000;
    -fx-selection-bar: #B22222;
    -fx-selection-bar-text: white;
}

.table-view.machine-table .column-header-background{
    -fx-background-color: #D3D3D3;
    -fx-border-color: #444444;
    -fx-border-width: 0 0 2px 0;
}

.table-view.machine-table .column-header .label,
.column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px 8px;
    -fx-alignment: CENTER_LEFT;
}

.table-view.machine-table .table-row-cell {
    -fx-background-color: #2C2C2C;
    -fx-border-color: #404040;
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 0px;
}

.table-view.machine-table .table-row-cell:first-child {
    -fx-border-width: 0;
}

.table-view.machine-table .table-cell {
    -fx-text-fill: #F0F0F0;
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8px;
}

.table-view.machine-table .table-row-cell:selected {
    -fx-background-color: #B22222;
}

.table-view.machine-table .table-row-cell:selected .table-cell {
    -fx-text-fill: white;
}

.table-view.machine-table .placeholder .label{
    -fx-text-fill: #A0A0A0;
}

.table-view.machine-table .table-column#uptimeCol .label {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 10px 15px 10px 8px;
}

.table-view.machine-table #uptimeCol.table-cell {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 8px 15px 8px 8px;
}

.machine-add-button,
.machine-delete-button,
.machine-change-button {
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.1, 2, 2);
    -fx-pref-height: 60px;
    -fx-pref-width: 250px;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.machine-add-button {
    -fx-background-color: #28A745;
    -fx-border-color: #4D0000;
    -fx-text-fill: white;
}

.machine-add-button:hover {
    -fx-background-color: #218838;
    -fx-border-color: #1C0000;
}

.machine-delete-button {
    -fx-background-color: #FF0000;
    -fx-border-color: #4D0000;
    -fx-text-fill: white;
}

.machine-delete-button:hover {
    -fx-background-color: #C70000;
    -fx-border-color: #1C0000;
}

.machine-change-button {
    -fx-background-color: #FFA500;
    -fx-border-color: #4D0000;
    -fx-text-fill: white;
}

.machine-change-button:hover {
    -fx-background-color: #FF8C00;
    -fx-border-color: #1C0000;
}

.machine-status-label {
    -fx-text-fill: #A0A0A0;
    -fx-padding: 10px 0 0 0;
}
