:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 10px;
  margin-top: 70px;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card {
  margin: 10px;
  border: 1px solid rgb(187, 186, 186);
  transition: border-color 0.25s;
}

.card:hover {
  border: 1px solid #050505;
}

.dashboard h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.graph {
  width: 100%;
}

.btn {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d56363;
  /* Light reddish color */
  transition: background-color 0.25s;
}

.btn:hover {
  background-color: #ef2c2c;
  /* Darker reddish color */
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Sites List */
.site-search-bar {
  width: 50%;
  color: #050505;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  display: inline;
}

.site-cards-container {
  display: flex;
  justify-content: center;
}

/* Site Grid Layout */
.site-container {
  display: block grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "side-details machine-details"
    "machine-list machine-details";
  justify-items: center;
  align-items: center;
}

.site-details {
  grid-area: side-details;
}

.machine-list {
  grid-area: machine-list;
}

.machine-details {
  grid-area: machine-details;

}

/* Small Table Machines */
.small-table-machines-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.small-table-machines thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Meldingen */

.bell-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.dropdown-menu {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

.dropdown-item {
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 5px;
}

.dropdown-list {
  margin: 5px;
}

.red-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
}

/* Meldingen Table */
.meldingen-container {
  padding: 70px;
}

.meldingen-container h1 {
  text-align: left;

}

.meldingen-table {
  width: 1200px;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 1.2em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed;
}

.meldingen-table thead tr {
  background-color: #d56363;
  color: #ffffff;
  text-align: center;
}

.meldingen-table th,
.meldingen-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
  white-space: normal;
}

.meldingen-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.meldingen-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.meldingen-table tbody tr:last-of-type {
  border-bottom: 2px solid #d56363;
}

/* Big Table Machines */
.machine-tabel-big {
  align-self: center;
  margin: auto;
}

.machine-tabel-big th,
.machine-tabel-big td {
  padding: 10px 100px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Search And Filter */
.input-group {
  margin: 70px auto 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar {
  color: #050505;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  background-color: #fff;
}

.states,
.production-states {
  color: #050505;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}


/* Dashboard */

.dashboard {
  min-width: 100vw;
  min-height: 80vh;
}

.dashboard h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.border-container {

  border: 1px solid black;
  border-radius: 8px;
  height: auto;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  background-color: darkgray;
  min-height: 80vh;
  width: 98%;
  display: flex;
}


.dashboard-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-header h1 {
  margin: 0;
  line-height: 1;
}

.edit-icon {
  font-size: 1.5em;
  margin-left: 2rem;
  vertical-align: middle;
}

.edit-button {
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.edit-icon {
  font-size: 1.5em;
  margin-left: 1.5rem;
}

.widget {
  position: relative;
  background: lightgray;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}

.remove-button:hover {
  color: darkred;
}

.handle {
  width: 100%;
  height: 100%;
  cursor: move;
}

.form-select {
  width: 25%;
}

/* Form */
.form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form .form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

form .form-text.text-danger {
  color: #dc3545;
  font-size: 0.875em;
}


.alert-info {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}